<h1>{{fa-icon 'quote-left'}} Ember Rails App {{fa-icon 'quote-right'}}</h1>
<p class="lead">
    Use this template as a quick and easy way to start new projects.<br>
    Have fun being an ambitious and creative web developer.
</p>
